@font-face {
    font-family: 'm6x11'; /* Názov, ktorý použiješ v CSS */
    src: url('../assets/fonts/m6x11.ttf') format('truetype'); /* Cesta k fontu */
    font-weight: normal; /* Váha fontu (napr. bold, light) */
    font-style: normal; /* Štýl fontu (napr. italic) */
}

body {
    font-family: 'm6x11'; /* Názov fontu a záložný font */
}

canvas {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000; /* Nastavenie pozadia na čierne */
}
  
#game-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
  